name: Deploy Lambda

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Create Lambda function
        run: |
          aws lambda create-function \
            --function-name my-lambda-function \
            --runtime python3.8 \
            --role arn:aws:iam::316065414151:role/lambda-role \
            --handler lambda_function.lambda_handler \
            --code S3Bucket=${{ secrets.my-custodian-bucket }},S3Key=lambda.zip

      - name: Invoke Lambda function
        run: |
          aws lambda invoke \
            --function-name my-lambda-function \
            --payload '{"key1": "value1", "key2": "value2", "key3": "value3"}' \
            output.txt

      - name: Upload results to S3 bucket
        run: |
          aws s3 cp output.txt s3://${{ secrets.my-custodian-bucket }}/output.txt
#

